@(message: String, classSelectForm: Form[ClassData], userClasses: Seq[(String, String)])(implicit messages: Messages, flash: Flash)

@main("Scala-Discuz!") {
<h2>Scala-Discuz!</h2>
<ul>
  <li>Play shouts out: <em>@message</em></li>
  <li>Scala.js shouts out: <em id="scalajsShoutOut"></em></li>
</ul>

@helper.form(action=routes.Application.validateClassSelectForm) {
  @* helper.CSRF.formField *@
  @helper.select(classSelectForm("Class"), 
                 options = userClasses,
                 '_default -> "-- Select Class --"
                )
}

<a href="@routes.Application.login">Login</a>

<div id="class-content"></div>

<script>
  document.getElementById("Class").addEventListener("change", function(){
    $("#class-content").load("/class/" + document.getElementById("Class").value);
  });
</script>
}
